LaboProgApp/target/
LaboProgAppWA/target/
LaboProgAppWebService/target/
LaboProgAppWebService/nbproject/private/
LaboProgAppWebService/build/
LaboProgAppWebService/dist/
LaboProgAppWebService2/target/
LaboProgAppWA2/target/*
LaboProgAppWA2_1/target/
LaboProgAppWA/src/wsdl/*
LaboProgAppWA/src/wsdl/
LaboProgAppWA/nb-configuration.xml
