/LaboProgApp/target/
/LaboProgAppWA/target/
/CalculadoraWebService/nbproject/private/
/CalculadoraWebService/build/
/LaboProgAppWebService/target/
/ProgAppWebService/target/
/ProgAppWebService2/nbproject/private/
/ProgAppWebService2/build/
/LaboProgAppWebService/nbproject/private/
/LaboProgAppWebService/build/
/LaboProgAppWebService/dist/
/LaboProgAppWebService2/target/
/LaboProgAppWA2/target/*
/LaboProgAppWA2_1/target/
LaboProgAppWA/src/wsdl/*
LaboProgAppWA/src/wsdl/

